@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Rubik+Bubbles&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
-clr:#14161e;
}
*{
  font-family: 'Lato', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
  @apply bg-red-600;


}